// Main variables colors
$cMainBackground: #000000;
$cMainTitle: #FF8E50;
$cSoundsControlsBackground: #FFFFFF;
$cSoundsControls: #FFFFFF;
$cCanvasBorder: rgba( 0, 50, 100, 0.4 );
$cCanvasShadow: rgba( 0, 0, 0, 0.8 );

// Input range colors
$cRangeSliderTrack: #E3DDD8;
$cRangeSliderThumb: #000000;
$cRangeShadow: #696969;
$cRangeBorder: #2E2E2E;
