// Generic CSS
@import "generic/meyer-reset";

// Settings Variables
@import "settings/paths";
@import "settings/fonts";
@import "settings/colors";

/* Styles */

html {
    font: normal 16px/1.4 'Helvetica', 'Helvetica Neue', 'Arial', 'sans-serif';
    text-align: center;
    background-color: $cMainBackground;
    background: url('#{ $imgPath }background.jpg') center no-repeat;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

body {
    margin: 8vh auto;
}

h1 {
    font-family: 'Shojumaru', 'Arial', 'sans-serif';
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: 8px 5px 10px $cCanvasShadow;
    color: $cMainTitle;
    text-transform: uppercase;
}

h1 .kanji {
    font-family: 'Adobe Heiti Std', 'Arial', 'sans-serif';
    display: block;
    margin-bottom: 1rem;
}

.h1-container {
    display: block;
    width: 48rem;
    max-width: 100%;
    margin: 0 auto 4vh auto;
    position: relative;
}

@import "./parts/canvas";

@import "./parts/audio";

@import "./parts/range";

@import "./parts/imageAnimation";
