// Styles for the image animation
.h1-container img {
    position: absolute;
}

.h1-container .ninja {
    width: 5rem;
    top: -1rem;
    right: -0.4rem;
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.h1-container:hover .ninja {
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.h1-container .shadows {
    width: 10rem;
    top: -6.5rem;
    right: -2.5rem;
    opacity: 0;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-name: appear;
    -webkit-animation-name: appear;
    animation-name: appear;
}

.h1-container:hover .shadows {
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-name: disappear;
    -webkit-animation-name: disappear;
    animation-name: disappear;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
      opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@keyframes disappear {
  0% {
    opacity: 0;
  }
  30% {
      opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
