// Canvas Styles

.container {
    width: 716px;
    height: 550px;
    margin: 0 auto;
    position: relative;
}

canvas {
    display: block;
    border: 1px solid $cCanvasBorder;
    -moz-box-shadow: 0 0 20px 0 $cCanvasShadow;
    -webkit-box-shadow: 0 0 20px 0 $cCanvasShadow;
    box-shadow: 0 0 20px 0 $cCanvasShadow;
    position: absolute;
    top: 40px;
    left: 0;
}

::selection {
    background: transparent;
}
